*{
    margin: 0;padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
button{
    font-family: 'Roboto', sans-serif;
    background-color: goldenrod;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 8px 8px;
    margin: 0 10px 0 0;
    border: 1px solid goldenrod;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-color: #ad841c;
    border: 1px solid #ad841c;
}
.btndiv{
    padding-top: 5%;
}
.img{
    width: 70%;
}
img{
    width: 100%;
    border-radius: 5px;
}
#items{
    margin-top: 15%;
}
.fa{
    font-size: 150%;
}
.strike{
    text-decoration: line-through;
}
@media screen and (max-width: 800px){
    .img{
        width: 100%;
    }
}